*{
	border:none;
	margin:0;
	padding:0;
	font-family: "Motiva Sans";
	user-select:none;
}
body{
	background:#153248;
	min-width:1100px;
	min-height: 100%;
}
.menu{
    position:relative;
    margin:auto;
    width:940px;
    color:#ccc;
}
a{
	text-decoration:none;
	color:#ccc;
}
img{
	vertical-align:top;
}
.clear::after{
	content:"";
	display:block;
	clear:both;
}
.btn{
    border-radius: 2px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
    padding: 1px 16px;
    font-size: 15px;
    line-height: 30px;
}
.btn:hover{
    background: rgba( 103, 193, 245, 0.4 );
}
.lf { float:left;}
.rt { float:right;}
.pull_down_list{
	border:6px solid transparent;
	border-top-color:#ccc;
	float:right;
}
.hr{
	height: 1px;
}
header{
	width: 100%
}
footer{
	width: 100%
}