h1{
    margin-top: 20px;
}
.menu .menu_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu .register_container{
    width: 584px;
    background:rgba(0,0,0,0.2);
    padding: 16px;
}
.menu h3{color:#67c1f5;font-weight:normal}
.menu p,.menu span,.menu .join_sys_req ,.ssa_box li{
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
.menu .register_container .btn[disabled]{
    background:rgba( 255, 255, 255, 0.2 );
}
.menu .register_container input[type="checkbox"]{
    margin-top: 20px;
}
.register_container .form_input_div{
    margin: 10px 0;
    height: 50px;
}
.register_container .hr{
    background: #38444e;
    margin: 15px 0;
}
.menu .register_container .form_input_div>input{
    background-color: rgba( 0, 0, 0, 0.2 );
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #45556c;
    width: 250px;
    padding: 5px;
    margin: 8px 0;
}
.menu  .form_input_div>span.danger{
    color:red;
}
.menu  .form_input_div>span.success{
    color:green;
}
.register_btn{
    margin-top: 20px;
}
.ssa_box {
    margin-top: 15px;
    height: 337px;
    overflow: auto;
    border: 1px solid #4d4b49;
    padding: 9px;
    line-height: 15px;
}
.menu .why_join{
    width: 298px;
    height:560px;
    background:rgba(0,0,0,0.2);
    padding: 16px 2px 4px 16px;
}
.menu .why_join ul>li{
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    margin-left: 16px;
}
.menu .join_sys_req{
    margin-top: 20px;
    margin-bottom: 30px;
}
